/* 通用样式 */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fcc5f124;
}

/* 顶部容器 */
.header {
    width: 100%;
    height: 20px;
    background: #00bfff00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

/* 搜索栏容器 */
.search-container {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.dropdown select {
    height: 30px;
}

.divider {
    height: 40px;
    width: 1px;
    background: #ddd;
    margin: 0 10px;
}

.search-box input {
    height: 30px;
    padding: 5px;
    margin-right: 10px;
}

.search-box button {
    padding: 5px 15px;
    background: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search-box button:hover {
    background: #0056b3;
}

/* 内容容器 */
.content {
    display: flex;
    padding: 20px;
}

/* 左侧导航栏样式 */
.filter-bar {
    width: 250px;
    background: #0b88be29;
    border-radius: 12px;
    padding: 10px;
    margin-left: 40px;
    margin-right: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-bar h3 {
    text-align: center;
    margin-bottom: 10px;
}

.filter-bar label {
    display: block;
    margin: 4px 5px;
}

.filter-bar select, .filter-bar button {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

/* 右侧展示数据的容器 */
.data-container {
    flex: 1;
    background: rgba(216, 239, 246, 0.477);
    padding: 15px;
    border-radius: 12px;
    margin-right: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 复选框容器样式 */
.checkbox-container {
    position: absolute;
    top: 60px;
    right: 80px;
    display: flex;
    align-items: center;
}

.checkbox-container label {
    cursor: pointer;
    color: #333;
    font-size: 14px;
}
table {  
    width: 100%;  
    border-collapse: collapse;  
    text-align: center;
}  
th, td {  
    border: 1px solid #ddd;  
    padding: 8px;  
    text-align: center;
}  
th {  
    background-color: #f2f2f2;  
    text-align: center;  
}  
